@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
.approvedCell {
  color: rgb(0, 0, 0);
}

.cellClassName.super-app-theme--cell{
  color: '#1a3e72',
}

.cellClassName.super-app.negative {
  color: "rgb(182, 60, 60)",
}
.cellClassName.super-app.positive {
  color: '#000000',
}
.container {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  object-fit: "scale-down";
  border-radius: 40px 40px 40px 40px;
  border-radius: 40px;

}

img.rounded-corners {
  border-radius: 40px;
}

.Typography-Titulo-Menu{

  font-family:sans-serif;
  font-weight: bold;
  color: rgb(207, 35, 35);
  /* margin-right:5rem; */
  font-size: 44px;
  margin-right:6rem;


}
h1 {
  font-family:  sans-serif;

}
h2 {
  font-family: sans-serif;

}
h3 {
  font-family:  sans-serif;
}
h6 {
  font-family:sans-serif;
  /* font-weight: bold; */
  color: rgb(14, 13, 13);
  margin-right:2rem;
  /* mr: "2rem" */
}

h5 {
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(3, 3, 3);
  margin-right:2rem;
  margin-right:2rem;
}


label.TypographyH6Gray{
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(129, 129, 129);
  margin-right:2rem;
  /* mr: "2rem" */
}
label.TypographyH6Black{
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(7, 7, 7);
  margin-right:2rem;
  /* mr: "2rem" */
}
label.nombre-archivo
{
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(85, 83, 83);
  font-size:  14px;
  /* margin-right:1rem; */
  /* mr: "2rem" */
}
label.textoNormal {
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size:  16px;
  /* margin-right:1rem; */
  /* mr: "2rem" */
}

.menu-Typography{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
}

label.Typography{
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(7, 7, 7);
  margin-right:2rem;
  /* mr: "2rem" */
}

button {
  background-color: white;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid hsl(0, 2%, 95%);
  transition-duration: 0.2s;
  cursor: pointer;
  font-family:  sans-serif;

}
button.subtitulo {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:   sans-serif;

};

button.cerrar {
  font-size: 20px;
  transition-duration: 0.2s;
  font-family:  sans-serif;
 color: rgb(168, 29, 29);

};

button.salir {
  background-color: rgb(195, 165, 117);
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid hsl(0, 0%, 89%);
  transition-duration: 0.2s;
  cursor: pointer;
  font-family:   sans-serif;

}

button.guardar {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:  sans-serif;
 color: rgb(11, 116, 63);
}

button.guardarOrgCabecera {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:  sans-serif;
 color: rgb(13, 13, 13);
 background-color: rgba(3, 126, 30, 0.595);
}


button.CerrarModal {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:  sans-serif;
 color: rgb(225, 60, 54);

}


button.editar {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:  sans-serif;
 color: rgb(90, 158, 227);

}

button.borrar-evento {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:  sans-serif;
 color: rgb(196, 72, 65);

}

button.actualizar {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family:   sans-serif;
 color: rgb(53, 160, 223);

}
button.regresar {
  font-size: 20px;
  transition-duration: 0.2s;
 font-family: sans-serif;
 color: rgb(172, 28, 28);

}
button:hover {
  background-color: hsl(0, 0%, 100%);
  color: rgb(7, 7, 7);
}

.editar:hover {
  background-color: hsl(208, 84%, 71%);
  color: rgb(1, 16, 132);
}
button.menu {
  transition-duration: 0.2s;
 color: rgb(5, 5, 5);
 background-color: hsla(0, 0%, 100%, 0.491);
}
.menu:hover {
  background-color: hsla(208, 13%, 49%, 0.491);
  color: rgb(45, 47, 49);
}

Button.cerrar:hover {
 color: rgb(168, 29, 29);
 background-color:rgba(255, 0, 0, 0.62);

};
button.guardarOrgCabecera:hover {
  color: rgb(29, 168, 50);
  background-color:rgba(10, 206, 30, 0.62);
 
 };

 Button.guardar:hover {
  color: rgb(29, 168, 50);
  background-color:rgba(0, 255, 26, 0.62);
 
 };

 button.Menu-rep {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family:  sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 85);
  width: 100%;
  box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
}

/* .guardar:hover {
  background-color: hsl(126, 86%, 31%);
  color: white;
} */

.descargar:hover {
  background-color: hsl(206, 49%, 56%);
  color: white;
}


button.nuevo-mensaje {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family:  sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(80, 163, 219);
  width: 100%;
  box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
}

button.enviar-mensaje {
  
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 85);
  width: 100%;
  box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
}



button.notificaciones-generico {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family:  sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  color: rgb(58, 58, 58);
  background-color: rgb(158, 157, 168);
  width: 100%;
  box-shadow: rgba(66, 69, 67, 0.24) 0px 8px 16px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
}

button.notificaciones {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family:  sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(66, 69, 67, 0.24) 0px 8px 16px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
}

.nuevo-mensaje:hover {
  background-color: hsl(126, 86%, 31%);
  color: white;
}

.cerrar-nuevo-mensaje:hover {
  background-color: #f64e60;
  color: white;
}
.cerrar-mensaje:hover {
  background-color: #f64e60;
  color: white;
}

textarea {
  /* resize: none; */
  line-height: 1.6;
  /* text-transform: capitalize; */
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: sans-serif;
}

label{
  resize: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 2;
  font-family:  sans-serif;

}
label.nombre{
  resize: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 2;
  text-transform: capitalize;
  font-family:  sans-serif;

}
.TextField{
  padding-bottom: 10%;
  resize: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 2;
  text-transform: capitalize;
  font-family: sans-serif;
  padding-Bottom: 3%;

}
.TextField.input{
  resize: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 2;
  text-transform: capitalize;
  font-family: sans-serif;
  color: white;
  padding-Bottom: 3%;

}
label.Titulo{
  resize: none;
  text-decoration: none;
  line-height: 1.71429;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family:   sans-serif;

}
label.titulo-FPG{
  resize: none;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.3rem;
  /* text-transform: capitalize; */
  font-family:  sans-serif;

}

label.subtitulo{
  resize: none;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family:  sans-serif;

}
label.contenido{
  resize: none;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.1rem;
  /*text-transform: capitalize;*/
  font-family: sans-serif;

}

label.negro{
  line-height: 1.2;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: black;

}

label.gris{
  line-height: 1.2;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: gray;

}

.IconButton{
  line-height: 1.2;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family:   sans-serif;
}

input.imagencargada{
width: 100px;
height: 100px;

}




